@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page_wrapper {
    width: 905px;
    margin: 0 auto;
    

}

.header {
    height: 182px;
    padding-top: 1px;
}

.footer {
    height: 182px;
    background: none;
    height: 60px;
    width: 165px;
    border: 1px solid;
    border-color: rgba(98, 98, 98, 1);
    margin-top: 90px;
    margin-left: 358px;
}
.button {
    margin-left: 49px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: #626262;
    margin-top: 19px;
    padding-bottom: 87px;   
    
}


.main {
    
    font-size: 0;
}

.card {
    height: 516px;
    width: 420px;
    
    display: inline-block;
}



.right {
    margin-left: 65px;
}

.long {
    height: 546px;
}

.card:nth-child(3), .card:nth-child(4) {
    margin-top: 130px;

}


.card:nth-of-type(6){
    margin-top: 130px;
}


.nav {
    margin-left: 168px;
    width: 568px;
    height: 30px;
    margin-top: 65px ;

}
.menu {
    font-size: 0 ;
}
.list-item {
    font-family: 'Playfair Display', serif;
    display: inline-block;
    font-size: 14px ;
    margin-left: 99px;
    line-height: 30px;
}
.list-item:nth-child(1){
    margin-left: 0;
}
.m {
    margin-left: 101px;
}
.t {
    margin-left: 101px;
}
.l {
    color:rgba(3, 169, 244, 1);
}
.card-img {
    width: 420px;
    height: 280px;
}
.section-name {
    margin-top: 32px ;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300px;
    font-size: 14px;
    color: #B4AD9E;
}
.card:nth-child(1) .section-name, .card:nth-child(2) .section-name{
    margin-top: 62px;
}
.section-title {
    margin-top: 32px;
    font-size: 30px;
    
    color: #626262;
    font-family: 'Playfair Display', serif;
}
.section-text {
    margin-top: 42px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}
